body, html {
    margin: 0 auto;
    width: 100%;
    display: block;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    min-width: 450px;
}

a, img {
    border: none;
    outline: none;
}

a {
    cursor: pointer;
    font-weight: 500;
    margin: 0px auto;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:active {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

.external-link {
    transition: 0.5s;
    transition-duration: 0.5s;
}

.external-link:hover {
    color: #0084FF;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    margin: 0;
}

.clear {
    clear: both;
}

ul {
    margin: 0px;
}

/* Structure */
#container {
    margin: auto;
    max-width: 960px;
    padding: 10px;
}

.content {
    font-weight: 300;
    margin-bottom: 50px;
}

#profile-container {
    position: relative;
    margin: 0px auto;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

#about {
    width: 70%;
    float: right;
}

/* Header */
#header {
    float: left;
    display: block;
    font-size: 36px;
    margin: 0;
}

/* Navbar */

#navbar {
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    max-width: 960px;
}

#navbar ul {
    margin: 0;
    padding: 0;
    float: right;
}

.navbar-items {
    display: inline-block;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: 0.5s;
    transition-duration: 0.5s;
}

.navbar-items:hover {
    background-color: #0084FF;
    color: white;
}

/* Panorama */
#panorama-container {
    position: relative;
    margin: 0px auto;
    border-radius: 5px;
    overflow: hidden;
    float: left;
    margin-bottom: 50px;
    height: 500px;
    width: 100%;
}

#panorama-container img {
    position: absolute;
}

#panorama {
    width: 1000px;
    top: -15px;
}

#me-overlay {
    width: 100px;
    top: 40px;
    left: 215px;
    display: none;
}

/* Profile Circle */

#profile-img {
    position: absolute;
    height: 275px;
    top: 0px;
    left: -25px;
}

#profile-container {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

#profile-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipper {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back{
    width: 230px;
    height: 230px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#profile-text {
    background-color: #0084FF;
    color: #FFFFFF;
    border-radius: 50%;
    /* center text */
    padding-top: 200px;
    text-align: center;
    height: 230px;
    width: 230px;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Modal */

#contact {
    cursor: pointer;
    font-weight: 500;
    margin: 0 auto;
}

#contact-message {
    height: 220px;
}

#modal-content {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    position: relative;
}

.link-box {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 5px;
}

.link-img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#topleft {
    margin-top:-250px;
    margin-left:-160px;
    transition: 0.5s;
    transition-duration: 0.5s;
}

#topleft:hover {
    background-color: #DD4B39;
    color: white;
}

#topright {
    margin-top:-250px;
    margin-left:10px;
    transition: 0.5s;
    transition-duration: 0.5s;
}

#topright:hover {
    background-color: #4875B4;
    color: white;
}

#middleleft {
    margin-top: -80px;
    margin-left:-160px;
    transition: 0.5s;
    transition-duration: 0.5s;
}

#middleleft:hover {
    background-color: #3B5998;
    color: white;
}

#middleright {
    margin-top: -80px;
    margin-left: 10px;
    transition: 0.5s;
    transition-duration: 0.5s;
}

#middleright:hover {
    background-color: #8A3AB9;
    color: white;
}

#bottomleft {
    margin-top: 90px;
    margin-left: -160px;
    transition: 0.5s;
    transition-duration: 0.5s;
}

#bottomleft:hover {
    background-color: #6CC644;
    color: white;
}

#bottomright {
    margin-top: 90px;
    margin-left: 10px;
    transition: 0.5s;
    transition-duration: 0.5s;
}

#bottomright:hover {
    background-color: #2EBD59;
    color: white;
}

#modal-content img {
    height: 70px;
}

#modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: none;
}

#modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#modal-box {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px;
    width: 500px;
    height: 590px;
    background-color: #42A5F5;
    opacity: 0.8;
    padding: 20px;
    z-index: 2;
}

#modal-header {
    position: relative;
    color: white;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 100;
}

#cancel {
    cursor: pointer;
    border: 5px solid white;
    margin-top: 30px;
    float: left;
    font-weight: 700;
    padding-left: 10px; padding-right: 10px;
    background: white;
    color: #5485BB;
    border-radius: 3px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    transition-duration: 0.5s;
}

#cancel:hover {
    background-color: #000000;
    color: white;
    border: 5px solid #000000;
}

#modal-footer {
    position: relative;
    top: 10px;
    transition: 0.5s;
    transition-duration: 0.5s;
}

.modal-card {
    width: 300px;
    height: 300px;
}

#center {
    position: absolute;
}

input, textarea {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    background: transparent;
    margin: 0;
    margin-bottom: 20px;
    width: 460px;
    font-size: 12px;
    font-weight: 700;
    color: white;
}

.page-contents {
    transition: 0.5s;
    transition-duration: 0.5s;
}

/* Resume */

.resume-card {
    background-color: #e5e5e5;
    border-radius: 3px;
    width: calc(100% - 40px);
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
}

.resume-category {
    font-size: 24px;
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    #panorama-container {
        display: none;
    }

    #profile-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        float: none;
    }

    #about {
        width: 90%;
    }

    #modal-box {
        width: 80%;
        display: block;
        margin-right: 20px;
        margin-left: 20px;
        float: none;
    }
}