body, html {
    margin: 0 auto;
    width: 100%;
    display: block;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
}

a {
    cursor: pointer;
    font-weight: 500;
    margin: 0px auto;
}

a:link { 
    color: inherit;
    text-decoration: none;
}

a:active { 
    color: inherit; 
    text-decoration: none;
}

a:visited {
    color: inherit; 
    text-decoration: none;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    margin: 0;
}

.clear {
    clear: both;
}

ul {
    margin: 0px;
}

/* Structure */
#container {
    margin: auto;
    max-width: 960px;
    padding: 10px;
} 

.content {
    font-weight: 300;
}

#profile-container {
    width: 20%;
    float: left;
}       
        
#about {
    width: 70%;
    float: right;
}

/* Header */
#header {
    float: left;
    display: block;
    font-size: 36px;
    margin: 0;
}
        
/* Navbar */

#navbar {
    padding-bottom: 15px;
    margin-top: 20px;
}

#navbar ul {
    margin: 0;
    padding: 0;
    float: right;
}

.navbar-items {
    display: inline-block;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: 0.5s;
}

.navbar-items:hover {
    background-color: #0084FF;
    color: white;
}

/* Panorama */          
#panorama {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

#panorama img {
    width: 100%;
    border-radius: 5px;
}

@media (max-width: 800px) {
    #header {
        float: none;
        padding: 20px;
    }

    #navbar {
        padding: 0;
        margin: 0;
    }

    #navbar ul {
        width: 100%;
        float: none;
    }

    #navbar li {
        display: block;
        margin: 0;  
    }

    #contact {
        display: block;
        padding: 5px;
        text-align: center;
        margin-bottom: 20px;
    }

    #navbar a {
        display: block;
        padding: 5px;
        text-align: center;
    }

    #profile-container {
        width: 100%;
        padding-bottom: 20px;
        display: inline-block;
    }

    #about {
        width: 100%;
    }

    #panorama {
        display: none;
    }
}

#profile {
    display: block;
    margin: 0px auto;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
}

#profile-img {
    width: 320px;
    transform: translate(0, -25%);
}

/* Modal */

#contact {
    cursor: pointer;
    font-weight: 500;
    margin: 0 auto;
}

#contact-message {
    height: 220px;
}

#modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    display: none;
}

#modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#modal-box-wrapper {
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
}

#modal-box {
    border-radius: 3px;
    margin: 0 auto;
    width: 500px;
    height: 420px;
    background-color: rgba(63, 140, 207, .8);
    padding: 20px;
}

#modal-header {
    color: white;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 100;
}

button {
    cursor: pointer;
    border: 5px solid white;
    padding-left: 10px; padding-right: 10px;
    background: white;
    color: #5485BB;
    font-weight: 700;
    border-radius: 3px;
    float: left;
    position: relative;
}

#cancel {
    margin-left: 20px;
}

input, textarea {
    border: 5px solid white;
    padding: 10px; 
    background: transparent;
    margin: 0;
    margin-bottom: 20px;
    width: 460px;
    font-size: 12px;
    font-weight: 700;
    color: white;
}

textarea::-webkit-input-placeholder {
    color: white;
}

input::-webkit-input-placeholder {
    color: white;
}

.page-contents {
    transition: 0.5s;
    display: ;
}

/* Resume */

.resume-card {
    background-color: #e5e5e5;
    border-radius: 3px;
    width: calc(100% - 40px);
    height: 500px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.resume-card, .journal-card * {
    padding-left: 20px;
    font-weight: 300;
}

.resume-category, .journal-date {
    font-size: 24px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.resume-links {

}

#education-card {
    height: 390px;
}

#projects-card {
    height: 270px;
}

#experience-card {
    height: 350px;
}

#skills-card {
    height: 150px;
}

#awards-card {
    height: 130px;
}

#links-card {
    height: 150px;
}